{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a></li>
  <li><a href="{% url 'category' cat=object.cat.slug %}">{{ object.cat.name }}</a></li>
  <li class="active">{{ object.title }}</li>
</ol>

<h1>{{ object.title }} <small>Par {{ object.user.username|default:"manu" }} il y a {{ object.created|timesince }}</small></h1>

<p>
	<!-- 
		notre content peux contenir du html
		mais comme il est saisi par un admin
		on peux le considérer sûr
	 -->
	{{ object.content|safe }}
</p>

<hr />

 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'myweblogkearc'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}