{% extends 'base.html' %}

{% block content %}

{% if cat %}
<div class="col-sm-12">
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a></li>
  <li class="active">{{ cat.name }}</li>
</ol>
</div>
{% endif %}

    
        {% for article in object_list %}
	
	    <div class="col-sm-4">
		<div class="thumbnail article-thumnail">
		    <a href="{% url 'article' article.slug %}" class="thumbnail">
		        <img src="{{ MEDIA_URL }}{{ article.image }}" alt="{{ article.title }}">
		    </a>
		    <div class="caption">
			<h3><a href="{% url 'article' article.slug %}">{{ article.title }}</a></h3>
		        <p>{{ article.content|striptags|truncatewords:40 }}</p>
		    </div>
		</div>
	    </div>

        {% endfor %}

{% endblock %}