body {background:#dededa}


.article-thumnail {min-height:470px;max-height:470px;box-shadow: 1px 1px 6px #b0b0b0;border-radius: 2px;}
    .article-thumnail a {color:#454545;}
        .article-thumnail a:hover {text-decoration: none;color:#2a6496;}
    .article-thumnail h3 {margin-top:0px;font-weight: bold;}
    .article-thumnail:hover {background-color:lightgrey;border-color: #428bca;}
.main {margin-top:60px;}
.navbar-inverse .navbar-brand {color: white;font-size: 1.6em}