{% load staticfiles %}
{% load humanize %}
{% load admin_urls %}
<!DOCTYPE html>
<html>
<head>
    <title>My weblog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand site-title" href="{% url 'index' %}">My Weblog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégories <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- on affiche les catégorie pour les catégories remontées grâce à notre context processor -->
                            {% for cat in cats %}
                                <li><a href="{% url 'category' cat=cat.slug %}">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- si l'user est admin, on affiche le lien -->
                    {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'admin:index' %}">Administration</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  


    <div class="container main">
        <div class="row">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

</body>

</html>